body {
    background-color: #d7dadc;
}
.todo-app {
   
    width: 400px;
    height: 100px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: rgb(181, 170, 170);
    border-radius: 500px;
    
  }

  h1 {
    color: #92490a;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  header input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: rgb(15, 14, 14);
    font-weight: bold;
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li.completed label {
    text-decoration: line-through;
    color: #999;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  footer button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;

    

    
}
  




