label {
    color: #676767;
}

.buttonRemove {
    cursor: pointer;
    background-color: transparent;
    color: #a19f9f;
    padding: 0;
    border: none;
    font-size: 15px;
    font-weight: 700;
}